.container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.container h2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: red;
    border-style: solid;
}